@use 'base';

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
	color: #1a1b18;
	padding: 0;
	margin: 0;
}

section {
	margin: 12rem 0;
}

.container {
	width: 90vw;
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

// Fonts & Text
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

.title {
	font-family: 'Lora', serif;
	font-weight: 400;
}

h2 {
	@extend .title;
	font-size: 3rem;
}

h3 {
	@extend .title;
	font-size: 2rem;
	line-height: 1.5;
	max-width: 1024px;
	text-align: center;
}

h4 {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	section {
		margin: 6rem 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}
