@use 'base';

// Fonts & Text
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
	color: #1a1b18;
	padding: 0;
	margin: 0;
	// font-family: 'Libre Franklin', sans-serif;
}

section {
	margin: 6rem 0;
}

.topSection {
	margin-top: 10rem;
}

.container {
	width: 90vw;
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

.title {
	font-family: 'Newsreader', serif;
	font-weight: 200;
	font-optical-sizing: auto;
	font-style: normal;
}

h1 {
	@extend .title;
	font-size: 42px;
	line-height: 1.2;
	font-weight: 500;
}

h2 {
	@extend .title;
	font-size: 2.25rem;
	line-height: 1.2;

	b {
		font-weight: 400;
	}
}

.stylizedH2 p {
	@extend .title;
	font-size: 2.25rem;
	line-height: 1.2;
	letter-spacing: normal;
	font-family: 'Newsreader', serif;
}

.stylizedH3 p {
	@extend .title;
	font-size: 2rem;
	line-height: 1.5;
	text-align: center;
	text-wrap: balance;
	letter-spacing: normal;
	font-family: 'Newsreader', serif;
}

h3 {
	@extend .title;
	font-size: 2rem;
	line-height: 1.5;
	text-align: center;
	text-wrap: balance;
}

h4 {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h5 {
	@extend .title;
	font-size: 0.9rem;
}

p {
	line-height: 1.75;
	font-size: 14px;
	text-wrap: balance;
	font-weight: 400;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.topSection {
		margin-top: 8rem;
	}
}

@media screen and (max-width: 768px) {
	section {
		margin: 4rem 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}
