@use '@/app/base';

.accordion {
	border-bottom: 1px solid rgba($color: base.$gray, $alpha: 1);
	padding: 1.5rem 0;
}

.accordion:last-of-type {
	border-bottom: none;
}

.titleRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.open {
	.icon {
		transform: rotate(180deg);
	}
}

.contentContainer {
	overflow: hidden;
}

.content {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	z-index: -1;

	// Animation
	animation: slideIn 0.3s ease-out;

	div {
		display: flex;
		gap: 1rem;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
