@use '@/app/base';

.accordion {
	padding: 1.5rem 0;
	border-bottom: 1px solid rgba($color: base.$gray, $alpha: 1);
}

.accordion:last-of-type {
	border-bottom: none;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
}

.needHelpButton {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: base.$gray;
	cursor: pointer;
	width: fit-content;

	p {
		font-size: 10px;
	}

	* {
		color: #b9b9b9;
	}
}

.open {
	.icon {
		transform: rotate(180deg);
	}
}

.contentContainer {
	overflow: hidden;
}

.content {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	z-index: -1;

	// Animation
	animation: slideIn 0.3s ease-out;

	div {
		display: flex;
		gap: 1rem;
	}

	p {
		text-wrap: wrap;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.hidden {
	display: none;
}

.hiddenBorder {
	border: none !important;
}

@media screen and (max-width: 1024px) {
	.hidden {
		display: block;
	}

	.hiddenBorder {
		border-bottom: 1px solid rgba($color: base.$gray, $alpha: 1) !important;
	}

	.hiddenBorder:last-of-type {
		border-bottom: none !important;
	}
}

@media screen and (max-width: 768px) {
}
