@use '@/app/base';

.button {
	min-width: 15rem;
	width: fit-content;
	max-width: 90vw;
	padding: 0.6rem 3rem;
	border-radius: 5px;
	transition: 0.3s;

	p {
		font-size: 0.7rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-align: center;
	}
}

.buttonWhite {
	// background-color: white;
	border: 1px solid white;

	p {
		color: white;
	}
}

.buttonBlack {
	// background-color: base.$black;
	border: 1px solid base.$black;

	p {
		color: base.$black;
	}
}

.buttonWhite:hover {
	background-color: white;
	// background-color: transparent;

	p {
		color: base.$black;
	}
}

.buttonBlack:hover {
	background-color: base.$black;

	p {
		color: white;
	}
}

.fullWidth {
	width: 100%;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
