@use '@/app/base';

.cart {
	z-index: 3;
	position: absolute;
	width: 400px;
	top: 0;
	right: 0;
	overflow: hidden;
	position: fixed;
}

.cartContent {
	background-color: white;
	padding: 2rem;
	width: 100%;
	min-height: 100vh;
	border-left: 1px solid base.$gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;

	// Animation
	animation: slideIn 0.3s ease-in-out;

	h3 {
		text-align: left;
		font-size: 1.5rem;
	}
}

.cartHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid base.$gray;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.itemsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-grow: 1;
}

.item {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.itemImage {
	position: relative;
	width: calc(50% - 1rem);
	aspect-ratio: 1 / 1;
	flex-shrink: 0;
	overflow: hidden;
	background-color: rgba($color: base.$gray, $alpha: 0.2);
}

.itemContent {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.itemTitle {
	text-wrap: wrap;
	// font-size: 1rem;
	font-weight: 700;

	span {
		font-weight: 600;
	}
}

.itemPriceContainer {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.itemQuantity {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.removeIcon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.checkoutSection {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.totalAmount {
	// font-size: 1rem;
}

.subtotal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// border-top: 1px solid base.$gray;
}

.note {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	p {
		font-size: 10px;
		color: #6d6b6b;
		line-height: normal;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 1024px) {
	.cart {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
}
