@use '@/app/base';

.cart {
	z-index: 1001;
	position: fixed;
	width: 400px;
	top: 0;
	right: 0;
	overflow: hidden;
}

.cartContent {
	background-color: white;
	padding: 2rem;
	width: 100%;
	min-height: 100vh;
	border-left: 1px solid base.$gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	position: relative;
	z-index: 1;

	// Animation
	animation: slideIn 0.3s ease-in-out;

	h3 {
		text-align: left;
		font-size: 1.5rem;
	}
}

.cartHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid base.$gray;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.itemsContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-grow: 1;
	overflow-y: auto;
	max-height: 50vh;
}

.item {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.itemImage {
	width: calc(33.33% - 1rem);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.imageWrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	background-color: rgba($color: base.$gray, $alpha: 0.2);
}

.itemContent {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.itemTitle {
	text-wrap: wrap;
	// font-size: 1rem;
	font-weight: 700;

	span {
		font-weight: 600;
	}

	a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}

.itemPriceContainer {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}

.itemQuantity {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-end;
	border-radius: 4px;
	align-self: flex-end;
}

.quantityButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
	transition: color 0.2s ease;

	&:hover {
		color: #000;
	}

	&:active {
		transform: scale(0.95);
	}
}

.quantityValue {
	// min-width: 1.5rem;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
}

.removeIcon {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.checkoutSection {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.subtotal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// border-top: 1px solid base.$gray;
}

.note {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	p {
		font-size: 10px;
		color: #6d6b6b;
		line-height: normal;
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 1024px) {
	.cart {
		width: 80%;
		right: 0;
		left: auto;
	}
}
