@use '@/app/base';

.filters {
	background-color: white;
	width: 240px;
	flex-shrink: 0;
	padding: 2rem;
	border: 1px solid base.$gray;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 0.8rem !important;
}

.optionButton {
	width: fit-content;
	text-align: left;
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;

	p {
		font-size: 12px;
		line-height: 100%;
	}
}

.resetButton {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid base.$black;
	width: fit-content;
	cursor: pointer;
	font-size: 0.7rem;
	margin-top: 0.5rem;
}

.closeButton {
	display: none;
	padding: 0.6rem 3rem;
	border-radius: 5px;
	transition: 0.3s;
	border: 1px solid base.$black;
	background-color: transparent;
	cursor: pointer;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;

	p {
		font-size: 0.7rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.35em;
		text-align: center;
		color: base.$black;
	}
}

.active {
	p {
		font-weight: 700;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.filters {
		// z-index: 3;
		width: 90vw;
		// position: fixed;
		// padding: 4rem 2rem;
		// top: 0;
		// left: 0;
		// height: 100vh;
	}

	.closeButton {
		display: flex;
	}
}
