@use '@/app/base';

.filters {
	background-color: white;
	width: 240px;
	flex-shrink: 0;
	padding: 0 0 2rem 2rem;
	// border: 1px solid base.$gray;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 6rem;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 0.8rem !important;

	button {
		width: fit-content;
		text-align: left;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;

		p {
			font-size: 0.7rem;
			line-height: 100%;
		}
	}
}

.resetButton {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid base.$black;
	width: fit-content;
	margin-bottom: 1.5rem;
	cursor: pointer;

	p {
		font-size: 0.7rem;
	}
}

.closeButton {
	display: none;
	padding: 0.6rem 3rem;
	border-radius: 5px;
	transition: 0.3s;
	border: 1px solid base.$black;
	background-color: transparent;
	cursor: pointer;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;

	p {
		font-size: 0.7rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.35em;
		text-align: center;
		color: base.$black;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.filters {
		z-index: 3;
		width: 100%;
		position: fixed;
		padding: 4rem 2rem;
		top: 0;
		left: 0;
		height: 100vh;
	}

	.closeButton {
		display: flex;
	}
}
