@use '@/app/base';

.productInfo {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 2rem;
}

.image {
	position: relative;
	grid-column: span 6;
	aspect-ratio: 1 / 1;
}

.imageControls {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	// gap: 0.5rem;
	padding: 1rem;

	button {
		background-color: transparent;
		border: none;
		border-radius: 10px;
		padding: 0.5rem;
		cursor: pointer;

		&:hover {
			border-color: base.$black;
		}
	}
}

.content {
	grid-column: span 6;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h3 {
		text-align: left;
	}
}

.versionInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	p {
		font-size: 1rem;
	}
}

.resetButton {
	cursor: pointer;
	font-size: 0.8rem;
	text-decoration: underline;
	color: #8b0000;
	border: none !important;
}

.price {
	font-size: 1.2rem;
}

.accordion {
	> div:first-of-type {
		padding-top: 0 !important;
	}
}

.cartBox {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.orderDate {
	font-size: 0.8rem;
}

.cartButton {
	padding: 1rem;
	border-radius: 0;
	border: 0;
	background-color: base.$black;
	font-size: 1rem;
	color: white;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
}

.cartButton:disabled {
	background-color: base.$gray;
	cursor: not-allowed;
}

.tax {
	font-size: 0.6rem;
}

.variantButtonsContainer {
	display: flex;
	// flex-direction: column;
	gap: 1rem !important;
	flex-wrap: wrap;

	button {
		padding: 0.5rem 1rem;
		background-color: white;
		border: 1px solid rgba($color: base.$gray, $alpha: 0.5);
		border-radius: 10px;
		font-size: 0.8rem;
		letter-spacing: 0.1em;
		// text-transform: uppercase;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	button:hover {
		border-color: base.$black;
	}
}

.engravingInput,
.select {
	padding: 0.5rem;
	border-radius: 0;
	background-color: white;
	border: 1px solid base.$gray;
	font-size: 0.8rem;
	border-radius: 5px;
}

.finalPreviewContainer {
	background-color: #f4f4f4;
}

.finalPreview {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2rem;

	.fpImage {
		position: relative;
		grid-column: span 4;
		aspect-ratio: 1 / 1;
	}
}

@media screen and (max-width: 1024px) {
	.productInfo {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}

	.image,
	.content {
		width: 90vw;
	}

	.content {
		padding: 0;
		padding-top: 1rem;
	}
}

@media screen and (max-width: 768px) {
}
