@use '@/app/base';

.content {
	* {
		text-align: left;
	}

	h2 {
		margin-bottom: 2rem;
	}

	h3 {
		font-size: 1rem;
		margin-top: 2rem !important;
		margin-bottom: 1rem;
	}

	h4 {
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		text-wrap: wrap !important;
		margin-bottom: 1rem;
	}

	ul {
		li {
			margin-left: 2rem;
		}
	}

	&.centerAlign {
		* {
			text-align: center;
		}

		ul li {
			margin-left: 0;
			list-style-position: inside;
		}
	}
}
